<p id="notice"><%= notice %></p>

.bg-home {
  background-color: #fb9f2d;
}
<h1>Tweets</h1>

<table>
  <thead>
    <tr>
      <th>ユーザー</th>
      <th>投稿</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.user.name %></td>
        <td><%= tweet.content %></td>
        <%#コメントアウト↓%>
        <%#<td><%= link_to 'Show', tweet %><%#</td>%>
        <%#<td><%= link_to 'Edit', edit_tweet_path(tweet) %><%#</td>%>
        <% if user_signed_in? && current_user.id == tweet.user_id %>
        <td><%= link_to '消去', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet', new_tweet_path %>
